<!DOCTYPE html>
<html>
  <head>
    <title>Twclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div><%= link_to 'TWclone', posts_path %></div>
    </header>
    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <small>&copy; 2020 TWclone</small>
      </footer>
    </div>
  </body>
</html>
